html, body, * {
    margin: 0;
    padding: 0;
}

html, body, * {
    margin: 0;
    padding: 0;
    font-family: cairo-regular;
}

@font-face {
    font-family: cairo-bold;
    src: url(../fonts/Cairo-Bold.ttf);
}

@font-face {
    font-family: cairo-regular;
    src: url(../fonts/Cairo-Regular.ttf);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    background-color: #fff;
    width: 30%;
    height: fit-content !important;
    padding: 30px;
    border-radius: 10px;
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
}

form input {
    padding: 3px 8px;
    width: 100% !important;
    box-sizing: border-box;
}

.alert-danger, .error {
    padding: 5px 26px;
    background-color: rgba(244, 37, 37, 0.688);
    color: #fff;
    font-size: 12px;
    border-radius: 7px;
}

.container form button {
    padding: 10px;
    background-color: #111;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.dash  {
    width: 100%;
    padding: 20px 50px;
}

.dash table {
    width: 100%;
}

.container-d {
    width: 100%;
    height: 90vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBar {
    display: flex;
    justify-content: space-between;
    background-color: turquoise;
    padding: 20px;
    align-items: center;
}

.logout {
    background-color: #fff;
    color: red;
    text-decoration: none;
    padding: 7px 8px;
    border-radius: 8px;
}

.align-center {
    text-align: center;
}

.users-list {
    padding: 20px 30px;
}

.users-list table {
    margin-top: 50px;
}

.operation-button {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    cursor: pointer;
}

.red {
    background-color: rgba(255, 0, 0, 0.8);
}

.blue {
    background-color: teal;
}

.flex  {
    display: flex;
}

.gap-10 {
    gap: 10px;
}


.users-listle {
    width: 100%;
    text-align: center;
    border: 1px solid #111
}

.users-list table th {
    background: #ccc;
    height: 30px;
}

.users-list table tr {
    background: aqua;
    height: 30px;
}

.users-list table tr td{
    padding: 5px 10px;
}

.operations {
    width: 100%;
    align-items: end;
    justify-content: flex-end;
}

.error-zone {
    height: fit-content !important;
}